.custom-btn {
    display: inline-block;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #f4f4f4;
    background-color: #3c3c3c;
    border: 1px solid #0b0b0b;
    border-radius: .25rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 0.2rem;
    padding: .2rem .2rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
  }