doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/reader.css')
    link(rel='stylesheet', href='/stylesheets/proto-reader.css')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous")
    script(src="/javascripts/sidebar.js")
  body
    header
      .container.row
        button.hamburger-btn(type="button")
            span メニュー
        button.mode-btn(type="button")
            span モード
        button#showIndexBtn.mode-btn 目次を表示
        button#showMemoBtn.mode-btn メモを表示
        button#showDictionaryBtn.mode-btn 辞書を表示
    .sidebar
        .sidebar-content
            button.mode-btn(type="button")
                span モード
    .container-fluid.main-window
      .row
      .col-8.main-content
        .card
            .card-body
                .mode-div#indexModeHon(style='display:block;')
                    image(src="/images/目次モード本文.jpg",style='width:100%;')
                .mode-div#memoModeHon(style='display:none;')
                    image(src="/images/本文メモモード.jpg",style='width:100%;')
        .col-3.mode-content
            .mode-div#indexMode(style='display:block;')
                image(src='/images/目次モードのみ.jpg',style='width:100%;')  
            .mode-div#memoMode(style='display:none;')
                image(src='/images/メモモード単品.jpg',style='width:100%;')          
            .mode-div#dictionaryMode(style='display:none;')
                image(src='/images/対話モードのみ.jpg',style='width:100%;')  
  script(src="/javascripts/changeMode.js")
  script.
    $(document).ready(function() {
        $('#showMemoBtn').click(function() {
            $('.mode-content').removeClass('mode-content-fixed').addClass('mode-content-absolute');
            adjustMemoModeHeight();
        });

        $('#showIndexBtn, #showDictionaryBtn').click(function() {
            $('.mode-content').removeClass('mode-content-absolute').addClass('mode-content-fixed');
        });

        function adjustMemoModeHeight() {
            var mainContentHeight = $('.main-content').outerHeight();
            $('.mode-content').css('height', mainContentHeight);
        }

        $(window).resize(function() {
            if ($('.mode-content').hasClass('mode-content-absolute')) {
            adjustMemoModeHeight();
            }
        });
    });



