doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/reader.css')
    link(rel='stylesheet', href='/stylesheets/proto-reader.css')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous")
    script(src="/javascripts/sidebar.js")
  body
    header
      .container.row
        button.hamburger-btn(type="button")
            span メニュー
        button.mode-btn(type="button")
            span モード
    .sidebar
        .sidebar-content
            button.mode-btn(type="button")
                span モード
    .container-fluid.main-window
      .row
      .col-8.main-content
        .card
            .card-body
                h1.title  仏教基礎と現代への影響と応用
                .content
                    h2 第1章：仏教の基礎
                    h3 仏教の歴史：起源から現代まで
                    p 仏教は紀元前6世紀に現在の<span class="text-background">ネパールで生まれた釈迦（シッダールタ・ゴータマ）</span>によって創始された。彼は王族としての贅沢な生活を捨て、苦行と瞑想を通じて悟りを開き、「ブッダ（悟った者）」と称されるようになりました。 
                    p 釈迦は多くの弟子を集め、彼の教えはインド全土に広まりました。彼の死後、仏教は経典を通じて教義が伝えられました。経典は元々口伝で伝えられていましたが、後に書き留められ、これがパーリ経典となります。 
                    p 紀元前3世紀頃、インドのアショーカ王のもとで仏教は国教となり、仏教はアジア各地へと広まりました。この過程で、仏教は大きく二つの流派、上座部仏教と大乗仏教に分かれました。上座部仏教は原始仏教に近く、個人の悟りを重視します。一方、大乗仏教は菩薩の理念を重んじ、より広範な救済を目指す教えです。 
                    p 仏教はシルクロードを通じて中国へ伝わり、中国で独自の形態を発展させました。禅宗や浄土宗などがその例です。これらの教えはその後、韓国や日本にも伝わりました。日本では、<span class="text-background">奈良時代に仏教が伝来</span>し、平安時代には多くの宗派が生まれました。 
                    p 8世紀にインドから伝わった仏教は、チベットにおいて独自の形態を発展させました。チベット仏教は、瞑想実践と密教の要素を重視しています。 
                    p 19世紀から20世紀にかけて、仏教は西洋にも広まりました。この過程で、仏教は多様な文化と交流し、新たな形態を発展させています。また、近年では科学や心理学との対話を通じて、仏教の教えが再解釈されています。 
                    p 仏教の歴史は、多様性と変化に富んでいます。その教えは、時間とともに変化し、異なる文化に適応しながら広がってきました。現代においても、仏教は世界中の多くの人々に影響を与え続けています。 
                    h3 主要な教義：四諦、八正道、中道
                    p 仏教の教義は、釈迦の悟りの体験に基づいています。中でも四諦、八正道、中道は仏教の核心をなす教えです。 
                    p 四諦は、人間の苦しみの本質とその克服の道を示す教えです。第一の諦は「苦諦」であり、生老病死など人生における苦しみの存在を認めることから始まります。第二の諦は「集諦」で、苦しみの原因が欲望や無知にあることを示します。第三の諦は「滅諦」で、欲望を断ち切ることによって苦しみが終わることを教えます。最後に第四の諦は「道諦」で、苦しみからの解放への道を示すものです。 
                    p 四諦の中で特に重要なのが最後の道諦であり、これは「八正道」として具体的に示されます。八正道は正見、正思惟、正語、正業、正命、正精進、正念、正定の八つの実践から成ります。これらは倫理的な行動、精神的な訓練、智慧の開発を通じて、人々が苦しみから解放される道を提供します。<span class="text-background">八正道は一連の規則や戒律というよりは、日々の生活における指針として捉えられるべき</span>です。 
                    p 中道は仏教のもう一つの重要な教えで、極端な苦行と物質的快楽のどちらにも偏らないバランスのとれた生き方を指します。釈迦自身が苦行を経験した後に、この中道の重要性を悟ったとされています。中道は、日常生活において極端な行動を避け、内面的な平和と調和を求めることを意味します。 
                    p これらの教義は、仏教の実践において非常に重要な役割を果たします。四諦は苦しみの本質とその解決策を、八正道はその実践的な道筋を、中道はバランスの取れた生き方をそれぞれ示しています。仏教徒にとって、これらの教えは日々の生活の中で反映され、内面的な平和へと導く指針となっています。 
                    h3 仏教の主要な宗派：上座部仏教と大乗仏教
                    p 仏教は、その長い歴史の中で多様な宗派に分化しました。中でも最も重要な二つの流派は、上座部仏教（テーラヴァーダ仏教とも呼ばれる）と大乗仏教です。これらの宗派は仏教の教義と実践において異なる解釈とアプローチを持っています。 
                    p 上座部仏教は、仏教の原始的な形態に最も近いとされる宗派です。この流派は、釈迦の教えを忠実に守ることに重点を置き、個人の悟りを最終目標としています。上座部仏教の信者は、パーリ経典をその教義の基本としており、比丘（僧侶）と比丘尼（尼僧）は厳格な戒律を守りながら生活しています。上座部仏教はスリランカ、ミャンマー、タイ、カンボジア、ラオスなどの国々で主に実践されています。 
                    p 一方、大乗仏教は「大きな乗り物」という意味を持ち、より多くの人々を悟りへと導くことを目指します。大乗仏教は上座部仏教よりも後に発展し、より哲学的で、菩薩の理念を重視します。菩薩は悟りを開いた存在ですが、すべての生きとし生けるものが悟りを開くまで涅槃に入らないと誓います。大乗仏教は、経典の解釈においてもより自由であり、新たな教義や瞑想の形式を取り入れています。この宗派は中国、韓国、日本、ベトナムなどで広く実践されており、禅宗、浄土宗、密教など多様な形態を持っています。 
                    p 上座部仏教と大乗仏教は、仏教の二つの大きな流れを形成していますが、それぞれが独自の特色と教義の解釈を持っています。これらの違いは、仏教が異なる文化や時代の中でどのように進化し、広がってきたかを示しています。それでも、どちらの宗派も釈迦の基本的な教えに根ざしており、すべての生きとし生けるものの苦しみを克服しようとする仏教の根本的な目的を共有しています。 
                    p 仏教は、釈迦（ブッダ）の教えに基づく精神的、哲学的な道であり、紀元前5世紀頃のインドに起源を持ちます。この宗教は、釈迦が悟りを開いた後、その教えを広めることから始まりました。初期の仏教は、苦しみの原因とその克服に関する深い洞察に基づいています。仏教は、その歴史を通じて、様々な文化と地域に広がり、多様な形態を発展させてきました。これには、仏教の教義、実践、哲学が含まれます。 
                    p 仏教の教義の核心は、釈迦が悟りを開いた際に説いた四諦と八正道です。これらは、人生における苦しみの本質と、その苦しみからの解放の道を示しています。四諦は苦しみの存在、その原因、苦しみの終焉、そして苦しみを終わらせるための道を示しています。八正道は、倫理的な行動、心の訓練、智慧を通じて、この目標を達成するための具体的な手順を提供します。さらに、中道の教えは、極端な快楽や苦行の両極端を避けることで、バランスの取れた生き方を示しています。 
                    p 仏教は、時間とともに多くの宗派に分化しましたが、その中で最も重要な二つが上座部仏教と大乗仏教です。上座部仏教は、仏教の原始的な形態を保持し、個人の悟りを強調しています。一方、大乗仏教は、より哲学的なアプローチを持ち、菩薩の理念を中心に据えています。これらの宗派は、それぞれ異なる地域と文化に適応し、独自の特色を発展させてきました。 
                    p 仏教の歴史を通じて、その教義は哲学、心理学、倫理学など様々な分野に影響を与えてきました。現代においても、仏教の教えは多くの人々にとって精神的な支えであり続けています。瞑想の実践や、心の平静を保つ技術は、現代のストレス社会において特に重要な意味を持っています。 
                    p さらに、仏教の教義は現代の倫理的な議論にも影響を与えています。非暴力、慈悲、共感といった価値は、環境問題や社会正義の問題において重要な指針となっています。仏教は、個人の内面的な変容だけでなく、社会や環境との調和にも重きを置いています。 
                    p この章では、仏教の基本的な教義、主要な宗派、そしてその歴史について概説しました。仏教の教えは、単なる宗教的信仰を超えて、人間の苦しみを理解し、それを 
                    p 克服するための智慧として広く認められています。その普遍的な教えは、今日の多様な文化や社会においても、多くの人々にとって重要な意味を持ち続けています。仏教の歴史と教義の理解は、私たちが自分自身と世界をより深く理解するための鍵を提供します。 
                    h2 第2章：仏教の実践h2
                    h3 瞑想と<span class="text-background">マインドフルネス</span>
                    p 仏教における瞑想とマインドフルネスの実践は、この古代の教えが現代の生活にもたらす深い影響を象徴しています。瞑想は、仏教の核心的な実践の一つであり、内面の平和と悟りへの道を開く手段とされてきました。この実践は、心を静め、集中力を高め、自己の内面を深く観察することを目的としています。瞑想を通じて、人々は日々の忙しさや心の動揺から一時的に離れ、心の平静と明晰さを得ることができます。 
                    p 瞑想の形式は多岐にわたりますが、その中でも特に重要なのが「マインドフルネス」です。マインドフルネスは、意識的に今この瞬間に注意を向ける実践であり、仏教の教えに深く根ざしています。これは、心を現在の経験に集中させ、その経験を判断せずに受け入れることを目指します。マインドフルネスは、日常生活の中で緊張やストレスを軽減し、より平和でバランスの取れた心の状態を促進します。 
                    p 瞑想とマインドフルネスの実践は、仏教徒に限らず、多くの人々にとって有益であることが科学的研究によっても支持されています。これらの実践は、心の健康を促進し、不安やうつ病の症状を軽減する効果があるとされています。また、集中力の向上、感情の調節、対人関係の改善にも寄与するとされています。 
                    p 瞑想とマインドフルネスの実践は、単に座って目を閉じること以上の意味を持ちます。これらは、私たちが自己の思考や感情、身体の感覚に深く意識を向けることを可能にし、自己理解を深める手段となります。この実践を通じて、人々は日常生活の中での自分の反応や習慣をより良く理解し、より意識的で健康的な選択をすることができるようになります。 
                    p 仏教の瞑想とマインドフルネスの教えは、私たちがより平和で充実した生活を送るための道具を提供します。これらの実践は、単に精神的な側面に限らず、身体的、感情的な健康にも大きく貢献します。仏教の古代の教えが、現代社会の複雑さとストレスに対処するための現実的かつ実用的な方法として再発見されているのです。このように、瞑想とマインドフルネスは、仏教の教えが私たちの日常生活においても有効であることを示しています。これらの実践は、心を静め、自己理解を深め、より良い生活を送るための強力なツールとなっています。 
                    h3 日常生活における教えの実践
                    p 仏教の教えを日常生活に取り入れることは、内面の平和と調和を育む重要なステップです。この宗教は単なる信仰以上のものであり、生き方そのものを変革する力を持っています。日常生活における仏教の教えの実践は、個人の内面だけでなく、社会全体にも積極的な影響を与えます。 
                    p 仏教の教えには、慈悲、共感、非暴力、自己制御など、日常生活における道徳的な基準を高める多くの要素が含まれています。これらの原則は、人々が他者との関係を築く際の指針となり、相互理解と尊重の精神を促進します。例えば、慈悲の実践は、他者の苦しみに対する感受性を高め、支援と理解の手を差し伸べることを奨励します。 
                    p また、仏教は、物質的な欲求や欲望に対する執着を手放すことを教えます。これにより、人々はより単純で満足のいく生活を追求し、内面の充足を見つけることができます。日常生活における消費行動や決定の際にも、この原則を適用することで、環境に対する意識や責任感を高めることができます。 
                    p さらに、仏教は個人の自己認識と自己発展を重視します。自己を深く理解することは、内面の平和を達成し、人生における苦しみを軽減する鍵となります。自己認識の実践を通じて、人々は自分の感情や行動の根源を理解し、より健全な対応を学ぶことができます。 
                    p 仏教の教えを日常生活に取り入れることは、個人が自己の内面に目を向け、より意識的でバランスの取れた生活を送るための助けとなります。これは、瞑想やマインドフルネスの実践と結びつき、内面の平和と精神的な成長を促進します。日常生活における仏教の教えの実践は、個人がより積極的で充実した人生を送るための道を開くものです。このように、仏教の教えは、私たちの生活のあらゆる側面に影響を与え、より良い社会を築くための基盤となり得ます。 
                    h3 儀式と祭り：仏教の文化的側面
                    p 仏教における儀式と祭りは、この古代から続く宗教の文化的側面を深く示しています。これらの行事は、仏教徒にとって信仰の実践だけでなく、コミュニティとの結びつきを強化し、教えを称賛する機会を提供します。仏教の祭りや儀式は、単に宗教的な意味合いを持つだけでなく、参加者に深い精神的な経験をもたらし、文化的な伝統を保存する役割も果たしています。 
                    p 仏教の儀式には、瞑想、祈り、讃歌の唱和、供物の捧げ物などが含まれます。これらの儀式は、仏陀への敬意を表し、内省と精神的な浄化の時間を提供します。例えば、瞑想は心を落ち着かせ、内面の平和を深めるために行われ、祈りや讃歌は集団での一体感を促進し、教えの普遍的なメッセージを共有します。 
                    p 仏教の祭りは、仏陀の生誕、悟り、涅槃に達した日など、重要な出来事を記念しています。これらの祭りは、色とりどりの装飾、伝統的な音楽、舞踊、共同での食事などを通じて、喜びと感謝の気持ちを表現します。これらの祭りは、教えの普及と共有を促進し、仏教徒の間の絆を強化する重要な役割を果たしています。 
                    p 仏教の儀式と祭りは、教えを身近に感じる機会を提供し、信仰を深めるための具体的な方法を提供します。これらの宗教的行事は、仏教の歴史と文化を称賛し、参加者にとって大きな意味を持つ重要な要素です。儀式と祭りを通じて、仏教徒は共通の信仰と価値観を共有し、精神的な成長とコミュニティとのつながりを深めることができます。このように、仏教の儀式と祭りは、信仰の実践だけでなく、文化的な遺産としての重要な役割を果たしています。 
                    h2 第3章：仏教の影響と現代社会
                    h3 仏教と現代心理学
                    p 仏教の教えと現代心理学は、多くの点で相互に影響を与え合っています。この交流は、心の健康と幸福に対する理解を深めるために、古代の智慧と現代の科学的手法が結合する形で表れています。 
                    p 仏教の中核的な教え、特に瞑想とマインドフルネスは、現代心理学において大きな関心を集めています。心理学者たちは、仏教の瞑想技術がストレス緩和、不安の軽減、集中力の向上、そして全般的な精神的幸福の増進にどのように役立つかを研究しています。実際、<span class="text-background">マインドフルネスに基づいた療法は、うつ病や不安障害の治療において有効</span>であるとされています。 
                    p さらに、仏教の教えは、自己認識と内省の重要性を強調しており、これは自己洞察と自己受容を促進する現代心理療法と共鳴します。たとえば、心理療法ではクライアントが自己の感情や思考パターンを認識し、それらを健康的な方法で管理することが奨励されます。このアプローチは、仏教の教えにおける自己認識と心の平穏を見つけるための方法論と共通しています。 
                    p また、仏教の「苦」の概念は、心理学における苦痛と苦悩の理解にも影響を与えています。仏教は、苦痛は人生の不可避な部分であり、その受容と理解が苦痛からの解放につながると教えます。これは、現代心理学が取り組むトラウマや慢性的な苦痛の治療に関連する考え方です。 
                    p さらに、仏教の教えにおける慈悲と共感は、人間関係を改善し、社会的なつながりを強化するための重要な要素として、心理学においても強調されています。慈悲に基づく療法は、自己と他者に対するより深い理解と共感を促し、より健全な人間関係の構築を目指しています。 
                    p 仏教と現代心理学のこのような交流は、人間の精神的な健康と幸福に対するより深い理解を促進するだけでなく、古代の教えと現代科学の間の対話を通じて、新たな治療法の開発に貢献しています。このようにして、仏教の教えは現代心理学に多大な影響を与え、その実践を豊かにしています。 
                    h3 仏教の社会的・環境的影響
                    p 仏教は、その教えが社会的および環境的な文脈において重要な影響を持っています。仏教の教義は、個人の行動が社会全体に与える影響に焦点を当て、環境に対する責任ある態度を促進します。 
                    p 社会的な側面において、仏教は共感、慈悲、平等などの価値を強調しています。これらの原則は、個人が他者との関係を築く方法に大きく影響を与え、より調和のとれた社会を構築するための基盤を提供します。例えば、慈悲の実践は、社会的な緊張を軽減し、紛争解決のための非暴力的アプローチを促進することができます。 
                    p また、仏教は個人が社会において果たすべき責任にも焦点を当てています。仏教徒は、善行を通じて社会に貢献し、他者を支援することを奨励されます。このアプローチは、貧困の軽減、教育へのアクセスの改善、そして公正な社会システムの構築に貢献することができます。 
                    p 環境面では、仏教は自然との調和を重視し、環境保護の重要性を教えています。仏教の教えにおいて、すべての生命体は相互に依存しており、環境の保全はすべての生物の幸福に不可欠であるとされます。この視点は、持続可能な生活様式を促進し、気候変動や環境破壊に対する意識を高めるのに役立ちます。 
                    p <span class="text-background">仏教の教えは、自己中心的な行動から離れ、他者や自然環境に対する深い配慮</span>を促します。このような教えは、社会的な調和と環境の持続可能性を追求する現代社会において、特に重要な意味を持っています。 
                    p 総じて、仏教は社会的および環境的な課題に対処するための道徳的かつ実践的な指針を提供し、より平和で持続可能な世界への道を示しています。その智慧と教義は、現代社会においてもなお、重要な役割を果たしています。 
                    h3 仏教の教えと現代の課題への応用
                    p 仏教の教えは、現代の多くの課題に対する深い洞察と実用的な解決策を提供します。この古代の知恵は、現代社会が直面する問題、特に個人的、社会的、環境的な課題に対処するための道しるべとなっています。 
                    p まず、個人的なレベルで、仏教はストレス、不安、そして日常生活の圧力に対処する方法を提供します。瞑想やマインドフルネスの実践は、心の平穏を促進し、個人の幸福感を高める効果があります。これらの技法は、現代の忙しいライフスタイルにおいて、精神的な安定を保つのに役立ちます。 
                    p 社会的な側面では、仏教は慈悲と共感の重要性を強調します。これは、人種、性別、宗教、または文化的背景にかかわらず、すべての人々に対する理解と尊重を促進します。この教えは、社会的不平等、差別、および分断に対処するのに役立ちます。また、仏教は非暴力と平和の促進に重点を置き、紛争解決や社会的調和において重要な役割を果たします。 
                    p 環境問題においても、仏教は重要な指針を提供します。全ての生き物との相互依存の教えは、自然との調和を重視し、持続可能な環境保護の実践を促進します。気候変動、資源の枯渇、生物多様性の損失などの現代の環境問題に対して、仏教の教えは、より責任ある消費行動と資源の管理の重要性を強調します。 
                    p さらに、経済的な課題に対しても、仏教は貪欲や物質主義の欲求から離れ、満足と感謝の精神を育むことで、個人的な幸福と社会的福祉に寄与します。この視点は、経済的な格差の問題や消費主導の生活様式を見直すきっかけを提供します。 
                    p 結論として、仏教の教えは、現代社会が直面する多くの課題に対して、実践的で道徳的な解決策を提供します。その普遍的な原則と洞察は、個人の幸福、社会的調和、環境の持続可能性を促進するために、現代の文脈においても重要な役割を果たしています。 
        .col-3.mode-content
            button#showIndexBtn 目次を表示
            button#showMemoBtn メモを表示
            button#showDictionaryBtn 辞書を表示
            .mode-div#indexMode(style='display:block;')
                p 第1章：仏教の基礎
                    p 仏教の歴史：起源から現代まで
                    p 主要な教義：四諦、八正道、中道
                    p 仏教の主要な宗派：上座部仏教と大乗仏教
                p 第2章：仏教の実践
                    p 瞑想とマインドフルネス
                    p 日常生活における教えの実践
                    p 儀式と祭り：仏教の文化的側面
                p 第3章：仏教の影響と現代社会
                    p 仏教と現代心理学
                    p 仏教の社会的・環境的影響
                    p 仏教の教えと現代の課題への応用
            .mode-div#memoMode(style='display:none;')
                .card.card1
                    .card-body
                        h5.text-background |ネパールで生まれた釈迦（シッダールタ・ゴータマ）
                        p ルンビニー（現在のインドとネパールの国境付近にあった小国）生まれじゃない？
                        p シッダールタとかは後からつけられた名前（創作である）
                .card.card2
                    .card-body
                        h5.text-background |奈良時代に仏教が伝来
                        p 蘇我氏物部氏の対決の結果
                .card.card3
                    .card-body
                        h5.text-background  |八正道は一連の規則や戒律というよりは、日々の生活における指針として捉えられるべき
                        p  悟りまでの方針的なもんなんだ
                .card.card4
                    .card-body
                        h5.text-background  |マインドフルネス
                        p 意識高い系で流行っている
                .card.card5
                    .card-body
                        h5.text-background  |マインドフルネスに基づいた療法は、うつ病や不安障害の治療において有効
                        p 参考文献を見たい
                .card.card6
                    .card-body
                        h5.text-background  |仏教の教えは、自己中心的な行動から離れ、他者や自然環境に対する深い配慮
                        p 利他主義的な              
            .mode-div#dictionaryMode(style='display:none;')
                .scrollable-content
                    .card
                        .card-body
                            h5  仏教
                            .content 紀元前6世紀にネパールで釈迦によって創始された宗教。悟りを開いた釈迦は「ブッダ」と称され、彼の教えはインド全土に広まりました。
                    .card
                        .card-body
                            h5 釈迦（シッダールタ・ゴータマ）
                            .content 仏教の創始者。王族としての生活を捨て、苦行と瞑想を通じて悟りを開きました。
                    .card
                        .card-body
                            h5  パーリ経典
                            .content 釈迦の教えが口伝され、後に書き留められた経典。仏教の基本的な教義を含んでいます。
                    .card
                        .card-body
                            h5  上座部仏教
                            .content 原始仏教に近く、個人の悟りを重視する仏教の流派。

                    .card
                        .card-body
                            h5  大乗仏教
                            .content 菩薩の理念を重んじ、より広範な救済を目指す仏教の流派。

                    .card
                        .card-body
                            h5  禅宗
                            .content 中国で発展した仏教の一宗派。日本にも伝わりました。

                    .card
                        .card-body
                            h5  浄土宗
                            .content 中国で発展した仏教の一宗派。日本にも伝わりました。

                    .card
                        .card-body
                            h5  チベット仏教
                            .content インドから伝わった仏教がチベットで独自に発展した形態。瞑想実践と密教の要素を重視しています。

                    .card
                        .card-body
                            h5  四諦
                            .content 苦しみの本質とその克服の道を示す教え。苦諦（苦しみの存在）、集諦（苦しみの原因）、滅諦（苦しみの終わり）、道諦（苦しみからの解放への道）から成る。

                    .card
                        .card-body
                            h5  八正道
                            .content 道諦の具体的な実践。正見、正思惟、正語、正業、正命、正精進、正念、正定の八つの実践から成ります。

                    .card
                        .card-body
                            h5  中道
                            .content 極端な苦行と物質的快楽のどちらにも偏らないバランスのとれた生き方を指す教え。釈迦が苦行を経験した後に悟った教えです。

  script(src="/javascripts/changeMode.js")
  script.
    $(document).ready(function() {
        $('#showMemoBtn').click(function() {
            $('.mode-content').removeClass('mode-content-fixed').addClass('mode-content-absolute');
            adjustMemoModeHeight();
        });

        $('#showIndexBtn, #showDictionaryBtn').click(function() {
            $('.mode-content').removeClass('mode-content-absolute').addClass('mode-content-fixed');
        });

        function adjustMemoModeHeight() {
            var mainContentHeight = $('.main-content').outerHeight();
            $('.mode-content').css('height', mainContentHeight);
        }

        $(window).resize(function() {
            if ($('.mode-content').hasClass('mode-content-absolute')) {
            adjustMemoModeHeight();
            }
        });
    });



